/************* ELEMENTI ***************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 4rem;
  /* mesta za footer */
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}
