/************* RESET ***************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  /*color: inherit;*/
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}
