/************* OPŠTE KLASE ***************/

.nevidljiv {
  display: none;
}

.clear {
  clear: both;
}

.underline {
  text-decoration: underline;
}

.no-outline {
  outline: none;
}

.sadrzaj {
  display: inline-block;
  padding: 20px 20px 20px 40px;
}
