/************* OPŠTE KLASE ***************/

.full {
  width: 100%;
}

.max-100 {
  max-width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.nevidljiv {
  display: none;
}

.clear {
  clear: both;
}

.underline {
  text-decoration: underline;
}

.no-outline {
  outline: none;
}

.inline-block {
  display: inline-block;
}

.sadrzaj {
  display: inline-block;
  padding: 20px 20px 20px 40px;
}

.kruzic {
  width:40px;
  height:40px;
  border-radius:50%;
}

.relative {
  position: relative;
}

@media (max-width: 767px) {
  .hide-sm {
    display:none;
  }
  .prstodrzac {
    background: #fff;
    position: absolute;
    z-index: 9;
  }
  .prstodrzac-gore,
  .prstodrzac-dole {
    left: calc(50% - 20px);
  }
  .prstodrzac-levo,
  .prstodrzac-desno {
    top: calc(50% - 20px);
  }
  .prstodrzac-gore {
    top: -23px;
  }
  .prstodrzac-dole {
    bottom: -23px;
  }
  .prstodrzac-levo {
    left: -20px;
  }
  .prstodrzac-desno {
    right: -20px;
  }
}

@media (min-width: 768px) {
  .hide-lg {
    display:none;
  }
}
