/************ BOJE *************/

.crveno {
  color: red;
}

.sivkasto {
  color: rgba(69, 54, 37, 0.4);
}

.upozorenje {
  background: LightCoral;
}

.siva-donja-crta {
  border-bottom: 1px solid rgba(69, 54, 37, 0.2);
}

.svetlosiva-pozadina {
  background-color: rgb(249, 249, 249);
}

.siva-ivica {
  border: 1px solid rgb(170, 170, 170);
}
