/********* TIPOGRAFIJA **********/

.krasnopis {
  color: rgba(69, 54, 37, 0.6);
  font-style: italic;
}

.krasnopis span {
  font-style: normal;
}

.siri-prored {
  line-height: 140%;
}

@media (min-width: 768px) {
  .krasnopis {
    letter-spacing: 0.12em;
  }
}
