.okvir {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.ukini-okvir {
  margin-left: -1.5%;
  margin-right: -1.5%;
}

.padding-sm-bottom {
  padding-bottom: 0.5em;
}

.margin-sm-right {
  margin-right: 5px;
}

.unos-sirina {
  width: 100px;
}

.unos-sirina2 {
  width: 150px;
}
