/********* GLAVNO *********/

.mali-formular {
  background: #EEEEEE;
  padding: 20px;
}

.mali-formular1 {
  width: 28%;
  margin-top: 1.5%;
}

.izvor .mali-formular {
  margin-top: 0;
}

.pojam .mali-formular1 {
  display: none;
}

.mali-formular1 .sugestije-okvir {
  width: 100%;
}
