
/************ ZAGLAVLJE ***********/

header {
  margin: 0;
  padding: 10px;
  background: #EEEEEE;
  background-size: 100%;
  border-bottom: 1px solid #5C5851;
  color: #000;
  text-align: left;
}

#logo {
  display: inline-block;
}

#logo,
.meni-lista {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.meni-lista li {
  background: #fff;
  list-style: none;
  margin: 2px;
  padding: 5px;
}

.bledo {
  color: rgba(69, 54, 37, 0.4);
}
