.tag-dugme,
.kao-dugme {
  display: inline-block;
  border: 1px solid #999;
  cursor: pointer;
}

.tag-dugme {
  padding: 2px;
  margin: 2px;
}

.kao-dugme {
  background: #eee;
  padding: 0 2px;
  margin-right: 4px;
}
