/************ ZAGLAVLJE ***********/

header {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #EEEEEE;
  border-bottom: 1px solid #5C5851;
  text-align: left;
}

.logo {
  display: inline-block;
}

.logo,
.meni-lista {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.meni-item {
  list-style: none;
  padding: 5px 10px;
  background: rgb(251, 251, 251);
}

.meni-item:hover,
.meni-item.trenutna-strana {
  background: #fff;
}

@media (max-width: 767px) {
  .meni-item {
    margin-bottom: 2px;
  }
}

@media (min-width: 768px) {
  .meni-lista {
    display: inline-block;
  }
  .meni-item {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 7px;
  }
}
