/********** MAPA *********/
/* u slobodni-gradovi.php ima inline css-a zbog iframe-a */

.slobodni-gradovi {
  padding-bottom: 10px;
}

.drzac-mape {
  margin-top: 30px;
  position: relative;
}

.mapa-frejm {
  border: 0;
  height: 700px;
  width: 100%;
}

.ratne-godine {
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  justify-content: space-around;
}

.ratna-godina {
  background: #ddd;
  display: inline-block;
  margin: 0;
}

.ratna-godina:hover,
.ova-godina {
  background: #f1f1f1;
}

.ratna-godina a {
  color: darkred;
}

.legenda-kruzic {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 6px;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
}
