/********* POJAM *********/

.slika-ustanak {
  width: 175px;
  float: right;
}

.podeok {
  overflow-y: scroll;
  padding: 0 4px;
  background: #eee;
}

.podeok a {
  color: inherit;
}

.kolona1,
.kolona2 {
  max-height: 800px;
}

.kolona2 p:first-line {
  font-weight: bold;
}

.fotografije {
  max-height: 480px;
  min-height: 200px;
  width: 100%;
  margin-top: 1em;
}

.slike {
  height: 200px;
  margin: 10px;
}

.ucitavac img {
  display: block;
}

.prstodrzac {
  background: #fff;
  position: absolute;
  left: calc(50% - 20px);
}

.prstodrzac-gore {
  top: -20px;
}

.prstodrzac-dole {
  top: -20px;
}

/***** RESPONSIVE *****/

@media (max-width: 767px) {
  .slika-ustanak {
    width: 150px;
  }
  .podeok {
    position:relative;
  }
  .kolona1 {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .dve-kolone {
    display: flex;
  }
  .kolona1 {
    width: 75%;
    margin-right: 1%;
  }
}
