/********* POJAM *********/

.pojam .mali-formular1 {
  display: none;
}

.mali-formular1 .sugestije-okvir {
  width: 100%;
}

.slika-ustanak {
  width: 175px;
  margin-top: 20px;
  margin-right: 1%;
  float: right;
}

.krasnopis {
  color: rgba(69, 54, 37, 0.6);
  font-style: italic;
  letter-spacing: 0.12em;
}

.krasnopis span {
  font-style: normal;
}

.siva-donja-crta {
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(69, 54, 37, 0.2);
}

.kolone {
  max-height: 800px;
  overflow-y: scroll;
  padding: 0 4px;
  background: #eee;
}

.kolona2 p:first-line {
  font-weight: bold;
}

.fotografije {
  max-height: 480px;
  min-height: 200px;
  width: 100%;
  margin-top: 1em;
}
