/********* POJAM *********/

.pojam .mali-formular1 {
  display: none;
}

.mali-formular1 .sugestije-okvir {
  width: 100%;
}

.slika-ustanak {
  width: 175px;
  margin-top: 20px;
  margin-right: 1%;
  float: right;
}

.kolone {
  max-height: 800px;
  overflow-y: scroll;
  padding: 0 4px;
  background: #eee;
}

.kolona2 p:first-line {
  font-weight: bold;
}

.fotografije {
  max-height: 480px;
  min-height: 200px;
  width: 100%;
  margin-top: 1em;
}

.slike {
  height: 200px;
  margin: 10px;
}

/********* SVI POJMOVI *********/

.pojmovi li {
  line-height: 140%;
}

#kucica {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(170, 170, 170);
}
