
/* sugestije */

.unesi-pojam {
  width: 100%;
  padding: 4px 5px;
  margin-top: 5px;
  font-size: 110%;
}

.lista-predloga {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  min-width: 250px;
}

.sugestije-okvir:hover .lista-predloga {
  display: block;
  position: absolute;
  right: 0;
}

.predlozi {
  background: rgb(250, 250, 250);
  border-top: 1px solid #ffffff;
  cursor: pointer;
  display: block;
  margin-left: 1px;
  padding: 5px;
  position: relative;
  white-space: nowrap;
  z-index: 9;
}

.predlozi:hover {
  background: #eee;
}
