
/************* fotogalerija ***************/
.okvir-slike {
	display:inline-block;
	width:185px;
	font-family: Courier;
	font-size:12px;
  vertical-align: top;
  margin: 0 10px 10px 0;
}

.galerija-slike,
.opis-slike {
  width: 100%;
}

.tekst-opis{
	overflow: hidden;
	max-height: 3.4em;
}

.trenutna_stranica {
	border-color: DarkSalmon;
}

.leva-strelica {
	float:left;
}
.desna-strelica {
	float:right;
}
