/***** TAGUJE SVE *****/

.taguje-sve .prikazi {
  margin-left: 20px;
}

.taguje-sve a {
  color: inherit;
}

.odeljak_opis {
  margin: 10px 0;
}

.taguje-sve p {
  margin-bottom: 4px;
}

.taguje-sve img {
  width: 100px;
}

.izaberi {
  margin-top: 5px;
  padding: 5px;
}

.prikazi {
  appearance: none;
  padding: 10px;
}

.oblast {
  width: 25px;
  background: #eee;
  text-align: right;
  margin-left: 5px;
}

.prazno {
  min-height: 200px;
}

.regex_dodatno {
  width: 20px;
}
