Options +FollowSymLinks -MultiViews
RewriteEngine on
RewriteRule ^odrednica/(.*)$ odrednica.php?slug=$1 [QSA]
RewriteRule ^dokument/([0-9]+)$ dokument.php?br=$1 [L]
RewriteRule ^fotografija/([0-9]+)$ fotografija.php?br=$1 [L]
RewriteRule ^dogadjaj/([0-9]+)$ dogadjaj.php?br=$1 [L]

RewriteRule ^dokumenti$ dokumenti.php [L]
RewriteRule ^odrednice$ odrednice.php [L]
RewriteRule ^fotografije$ fotografije.php [L]

# BEGIN leverage browser caching
<IfModule mod_headers.c>

    # CSS // 1 week
    <FilesMatch "\.(css)$">
        Header set Cache-Control "public, max-age=604800"
    </FilesMatch>

    # JavaScript // 1 week
    <FilesMatch "\.(js)$">
        Header set Cache-Control "public, max-age=604800"
    </FilesMatch>

    # Media files: Images // 1 month
    <FilesMatch "\.(jpg|jpeg|png|gif|bmp|svg)$">
        Header set Cache-Control "public, max-age=2592000"
    </FilesMatch>

    # Web fonts // 1 year
    <FilesMatch "\.(eot|ttf|woff|woff2)$">
        Header set Cache-Control "public, max-age=31536000"
    </FilesMatch>

</IfModule>
# END leverage browser caching